<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome</title>
    <link rel="stylesheet" href="../public/css/app.css">
</head>
<body class="text-center">
    <div id="app">
        <Navbar></Navbar>
        <main role="main">
            <Login></Login>
        </main>
    </div>
    <footer class="container">
        <p>&copy; Chris 2019</p>
    </footer>
</body>
<script defer src="../public/js/app.js"></script>
</html>